<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>About Us</mat-card-title>
      <mat-card-subtitle>Version 1.0</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/browser-notes.PNG" alt="Browser Notes Logo">
    <mat-card-content>
      <p>
        This Chrome extension helps you to take notes, which includes text, lists, links & images.
        We can export our notes in the form of html.
        <br>
        <b>Note : </b> This extension, does not store any of your date in any server. <br> This extension uses
        browser's localstorage to store your notes. Once you clear the cache, all your notes will be deleted.
      </p>
    </mat-card-content>
  </mat-card>